## Control Flow

### If Statement

_if statement is a conditional statement that runs or skips code based on whether a condition is true or false_

In [2]:

phone_balance = 9
if phone_balance < 10:
    phone_balance += 20
#    bank_balance -= 20
print(phone_balance)

29

In [3]:
phone_balance

29

### If, Elif, Else

In [5]:
#season=['spring','summer','fall','winter']

season='fall'

if season == 'spring':
    print('plant the garden!')
elif season == 'summer':
    print('water the garden!')
elif season == 'fall':
    print('harvest the garden!')
elif season == 'winter':
    print('stay indoors!')
else:
    print('unrecognized season')

harvest the garden!

_**Use Case: A user is purchasing an Iphone and he needs to know the delivery charges for his country. Write a code to get input from user about his country and let him know the iphone delivery charges**_

## Loops

### For Loops 

_A for loop is used to "iterate", or do something repeatedly, over an iterable_                                                 
_An iterable is an object that can return one of its elements at a time, such as strings, lists, and tuples, as well as non-sequence types, such as dictionaries and files_

In [9]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)
print("Done!")

new york city
mountain view
chicago
los angeles
Done!

In [6]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)
print("Done!")

new york city
mountain view
chicago
los angeles
Done!

In [7]:
for i in range(3):
    print("Hello!")

Hello!
Hello!
Hello!

In [47]:
country = ['India','Aus','USA']

In [36]:
country.

['India', 'Aus', 'USA']

In [44]:
a=[]
b=[]

In [46]:
a

['IND']

In [43]:
b

['Aus', 'USA']

In [45]:
for i in country:
    if i =='India':
        a.append(i[:3].upper())
    else:
        b.append(i[:3])

In [8]:
# Creating a new list
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
capitalized_cities = []

for city in cities:
    capitalized_cities.append(city.title())

# Exercise 1

_**TODO: Write a for loop that iterates over the names list to create a usernames list. 
To create a username for each name, make everything lowercase and replace spaces with underscores**_

In [65]:
# Input
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

# Expected list 
usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [68]:
a=[]

In [69]:
for i in names:
    #a.append((i.replace(" ","_")).lower())
    b=i.replace(" ","_")
    b.lower()
    a.append(b)

In [70]:
a

['Joey_Tribbiani', 'Monica_Geller', 'Chandler_Bing', 'Phoebe_Buffay']

#  Exercise2

_**TODO: Create a dictionary with the word count**_

In [ ]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']

# Expected result
#{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

# Exercise 3

_**TODO: Print the Total no of IT employees and Non IT employees for the companies provided in the list **_

In [85]:
a=0

In [87]:
a

450000

In [86]:
for i in Employee_count.items():
    if i[0] in IT_Companies:
        a=a+i[1]

In [88]:
b=0

In [90]:
b

450000

In [89]:
for i in IT_Companies:
    if i in Employee_count:
        b=b+Employee_count.get(i)

In [74]:

Employee_count = {'Infosys': 75000, 'TCS': 175000, 'RBS': 50000, 'CTS': 150000, 'HDFC': 25000, 'Times': 10000, 'Wipro': 125000}
IT_Companies = ['DTCC', 'CTS', 'Accenture', 'TCS', 'HCL', 'Wipro']

# Your solution has to be so robust that it should work if we are changing the dictionary

# Exercise 4

_**TODO: Nearest Square **_

_** Write a Control statement that finds the largest square number less than an integer limit and stores it in a variable nearestsquare **_

In [8]:
# For example, if limit is 40, your code should set the nearest_square to 36


### While Loops 

_This differs from "indefinite iteration" which is when a loop repeats an unknown number of times and ends when some condition is met, which is what happens in a while loop_

In [9]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

In [10]:
while sum(hand)  < 17:
    hand.append(card_deck.pop())

## Write a while loop to get an input from user and print the input 5 times

In [19]:

sum=0
while sum<20000:
    salary=10000
    sum+=salary
    print(sum)

10000
20000

In [9]:

sum=0
while sum<20000:
    print(' You get hike ')
    salary=10000
    sum+=salary

 You get hike
 You get hike


### Break, Continue 

_Sometimes we need more control over when a loop should end, or skip an iteration. In these cases, we use the break and continue keywords, which can be used in both for and while loops_

_break terminates a loop_                                                                                                       
_continue skips one iteration of a loop_

In [12]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

# the code breaks the loop when weight exceeds or reaches the limit
print("METHOD 1")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking loop now!")
        break
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 1
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  adding machine (120)
current weight: 201
  breaking loop now!

Final Weight: 201
Final Items: ['bananas', 'mattresses', 'dog kennels', 'machine']


### Zip and Enumerate


_zip returns an iterator that combines multiple iterables into one sequence of tuples. Each tuple contains the elements in that position from all the iterables_

In [8]:
#letters = ['a', 'b', 'c']
#nums = [1, 2, 3]

letters = ('a', 'b', 'c')
nums = (1, 2, 3)

for letter, num in zip(letters, nums):
    print("{}: {}".format(letter, num))

a: 1
b: 2
c: 3

In [15]:
# In addition to zipping two lists together, you can also unzip a list into tuples using an asterisk.
some_list = [('a', 1), ('b', 2), ('c', 3)]
letters, nums = zip(*some_list)


### Enumerate


_Enumerate is a built in function that returns an iterator of tuples containing indices and values of a list. You'll often use this when you want the index along with each element of an iterable in a loop_

In [16]:
letters = ['a', 'b', 'c', 'd', 'e']
for i, letter in enumerate(letters):
    print(i, letter)

0 a
1 b
2 c
3 d
4 e


# Functions

In [3]:
# Defining Functions
def interest_credited(balance=1000):
    interest = 0.1
    a=balance
    balance+=balance*interest
    return a, balance

In [7]:
# function call
interest_credited(2000)

(2000, 2200.0)

In [5]:
a=interest_credited(2000)
print('The interest credited is : {0} and your current total balance is {1}'. format(a[0],a[1]))

The interest credited is : 2000 and your current total balance is 2200.0


### List Comprehensions

In [4]:
# Normal way of writing

cities=['Delhi','Mumbai','Chennai','Kolkata','Bangalore']

capitalized_cities = []
for city in cities:
    capitalized_cities.append(city.title())

In [3]:
capitalized_cities

['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']

In [5]:
#Using List Comprehensions

capitalized_cities = [city.title() for city in cities]


### Conditionals in List Comprehensions

In [8]:
squares = [x**2 for x in range(9) if x % 2 == 0]

squares

[0, 4, 16, 36, 64]

In [ ]:
# Was this expected
squares = [x**2 for x in range(9) if x % 2 == 0 else x + 3]

In [9]:
squares = [x**2 if x % 2 == 0 else x + 3 for x in range(9)]
squares

[0, 4, 4, 6, 16, 8, 36, 10, 64]